*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    width: 440px; 
    border: 1px solid rgba(158, 116, 116, 0.1);
    border-radius: 50%;
    box-shadow: inset 15px 15px 30px #403b4a,
                inset -15px -15px 30px #e7e9bb;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background: url("AC.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(158, 116, 116, 0.1);
    border-radius: 50%;
    box-shadow: inset 15px 15px 30px rgba(36,34,34),
                inset -15px -15px 30px rgba(36,34,34);

}
.hour{
    height: 150px;
    width: 150px;
}
.minute{
    height: 200px;
    width: 200px;
}
.second{
    height: 250px;
    width: 250px;
}
.hour, .minute, .second{
    position: absolute;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    border-radius: 50%;
}
.clock::before{
    content: '';
    height: 10px;
    width: 10px;
    background: rgba(109,102,102);
    border-radius: 50%;
    border: 2px solid white;
    z-index: 100;
}
.hour::before{
    content: '';
    position: absolute;
    height: 75px;
    width: 8px;
    background: black;
    z-index: 10;
    border-radius: 50%;
}
.minute::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 4px;
    background: yellow;
    z-index: 11;
    border-radius: 50%;
}
.second::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 2px;
    background: red;
    z-index: 12;
    border-radius: 50%;
}